<div>
   {{#each this}}
<div class="render-country">
    <img src="{{this.flag}}" alt = "{{name}}" width = "60", height="40"/>
    <p class="name-country">{{this.name}}</p>
</div>
  {{/each}}
  </div>